1. len()

In [3]:
l1=[123,'xyz','hello']
len(l1) ## returns the number of elements in the list

3

2. max()

In [7]:
li=[12,45,2,56]
max(li) ## returns the element from the list with maximum value

56

3. list(seq)

In [12]:
t1=(123,'xyz','zara',56)
list(t1) ## it takes sequence types and converts them to lists

[123, 'xyz', 'zara', 56]

4. append(obj)

In [15]:
li=[123,'xyz','abc',56]
li.append('hello') ## it appends the object obj to the end of the existing list
li

[123, 'xyz', 'abc', 56, 'hello']

5. count(obj)

In [17]:
li=[123,'xyz','abc',123]
li.count(123) ## returns count of how many times object obj occurs in list

2

5. extend(seq)

In [19]:
l1=[123,'xyz','abc',56]
l2=[200,'hello']
l1.extend(l2) ## extends list by appending the content of sequence seq to the end of list
l1

[123, 'xyz', 'abc', 56, 200, 'hello']

6. index(obj[,start[,stop]])

In [21]:
l1.index('xyz') ## returns the lowest index in the list where object obj appears otherwise raises a ValueError exception

1

In [23]:
l1.index('xyz',2,5) ## ValueError exception example

ValueError: 'xyz' is not in list

7. insert(index,obj)

In [26]:
li=[123,'xyz','abc',56]
li.insert(4,'hello') ## it inserts the given element at the given index
li

[123, 'xyz', 'abc', 56, 'hello']

8. pop([index])

In [38]:
li=[123,'xyz','abc',56]
li.pop() ## removes and returns the last item from list by default ,otherwise raises IndexError if list is empty or index is out of range

56

In [39]:
li=[123,'xyz','abc']
li.pop(0)## removes and returns the object at given index from the list

123

9. remove(obj)

In [42]:
li=[123,'xyz','abc',56]
li.remove('xyz') ## removes first occurence of the object obj from the list otherwise raises ValueError exception if obj is not present
li

[123, 'abc', 56]

10. reverse()

In [45]:
li=[123,'xyz','abc',56]
li.reverse() ## it reverses objects of list IN PLACE
li

[56, 'abc', 'xyz', 123]